a {
    font-family: 'Staatliches';
}

body{
    color:#F0E9D2;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color:#181D31;
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
    margin-bottom: 3%;
}

h2{
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 18%;
    text-align: center;
}

.logo{
    width: 70%;
}


.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0%;
}

.map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-fluid{
    background-color: #678983;
}

.nav-link{
    color:blanchedalmond;
}